@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");

$gray-dark: #4e4e4e;
$gray-light: #ffffff;
$border-radius: 4px;

$tile-gap: 0.25rem;

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
}

body {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;
  background-color: $gray-dark;
}

* {
  box-sizing: border-box;
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#tools {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button {
    user-select: none;
  }
}

#board-wrapper {
  display: grid;
  place-items: center;
  z-index: 10;
}

#board {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 0.25rem;

  border: 2px solid $gray-light;
  border-radius: $border-radius;

  display: grid;
  gap: $tile-gap;

  .tile {
    $size: 4rem;
    width: 4rem;
    font-size: $size / 3; // 33%
    font-weight: 700;
    color: $gray-light;
    aspect-ratio: 1;
    user-select: none;

    display: grid;
    place-items: center;

    border: 2px solid $gray-light;
    border-radius: $border-radius;

    transition: transform 0.5s ease-in-out;

    &.empty {
      border: none;
    }

    &.moving {
      &.Up {
        transform: translateY(calc(-100% - #{$tile-gap}));
      }
      &.Down {
        transform: translateY(calc(100% + #{$tile-gap}));
      }
      &.Left {
        transform: translateX(calc(-100% - #{$tile-gap}));
      }
      &.Right {
        transform: translateX(calc(100% + #{$tile-gap}));
      }
    }

    &.no-move {
      animation: shake 0.5s ease-in-out;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  12% {
    transform: translateX(-10%);
  }
  36% {
    transform: translateX(10%);
  }
  60% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
